
.navigationButtons {
    background-color: #50514F;
    color: #F6F8FF;
    border: none;
    padding: 10px 20px !important;
    font-size: 16px !important;
    cursor: pointer;
    bottom: 20px;
    transition: .3s ease;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    
}

.navigationButtons:hover {
    background-color: #727471;
    transform: scale(1.1);
    transition: .3s ease;
    backdrop-filter: blur(5px);
}
.next {
    right: 20px !important;
    position: fixed !important;
}

.prev {
    left: 20px;
    position: fixed;
}
.bottomPadding {
    padding-bottom: 50px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
    color: #272D2D;
}

/* 
Color palette:
black: #272D2D
White: #F6F8FF
Gray: #50514F 
*/